
PORT=5000
NODE_ENV=production
MONGO_URI=
JWT_SECRET=9hT#4xLp!2Qz8@M$5RvKw1YbP7DsAe
JWT_EXPIRES_IN=7d
COOKIE_EXPIRES_DAYS=7

ADMIN_INVITE_CODE=

FRONTEND_URL=
# FRONTEND_URL=https://svims-news.netlify.app

